
casa/casa.xcodeproj/xcuserdata/crolando.xcuserdatad/xcschemes/xcschememanagement.plist
casa/casa.xcodeproj/project.xcworkspace/xcuserdata/crolando.xcuserdatad/UserInterfaceState.xcuserstate
casa/casa.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
casa/casa.xcodeproj/project.xcworkspace/contents.xcworkspacedata
